

:root{
 --color-primary: #0096c7;
 --color-primary-light:#00b4d8;
 --color-primary-dark:#023e8a;

 --color-grey-light-1: #faf9f9;
 --color-grey-light-2: #f4f2f2;
 --color-grey-light-3: #f0eeee;
 --color-grey-light-4: #ccc;
 --color-grey-dark-1: #333;
 --color-grey-dark-2: #777;
 --color-grey-dark-3: #999;

 --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
 --shadow-light:0 2rem 5rem rgba(0,0,0,.06);
 --b :1px solid var(--color-grey-light-2);
}
//breackpoint
$bp-largest: 75em;//1200px/16=75em
$bp-large:68.75em;//1100
$bp-medium:56.25em; //900px
$bp-small:37.5em; //600px
$bp-smallest:31.25em;//500px


*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px
  @media only screen and (max-width:$bp-large){
    font-size: 50%;
  }
  
}

body{
  font-family: 'open sans',sans-serif;
  font-weight: 200;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image:
   linear-gradient( to right bottom,
   var(--color-primary-light),
   var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;// so can be bigger if necessary
}