/////////////////////
//lOGO
.logo{
  height: 3.25rem;
  margin-left: 2rem;

}

//////////////////
//SERCH

.search{
  
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width:$bp-smallest){
    
    order: 1;
    flex-basis: 100%;
    
     }

  &__input{
  font-family:inherit ;
  font-size: inherit; //the font size is from the header that not 10px
  background-color: var(--color-grey-light-2);
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all .7s;
  margin-right: -3.25rem;
  @media only screen and (max-width:$bp-smallest){
    
    font-size: 1rem;
     }

    &:focus{
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3);
    }
    &::-webkit-input-placeholder{
      font-weight: 100;
      color: var(--color-grey-light-4);

    }
  }

  &__input:focus + &__button{
    background-color: var(--color-grey-light-3);
  }

  &__button{
    border: none;
    background-color: var(--color-grey-light-2);
  
    &:focus{
      outline: none;
    }
    &:active{
      transform: translateY(2px);;
    }
  }

  &__icon{
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);//serch-icon/color chang//
  }
}


//////////////////
//USER-NAV

.user-nav{
 
  align-self: stretch;
  display: flex;
  align-items: center;
  
  & > * {
   
    padding:0 2rem ;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box{
    position: relative;
  
  }

  &__icon{
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification{
  font-size: .8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 2rem;
  right: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  
  }
  
  

  &__user-photo{
   height: 3.75rem;
   width: 3.75rem;
   border-radius: 50%;
   margin-right: 1rem;
  }

 

}

////////////
// SIDE NAV

.side-nav{
 
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  @media only screen and (max-width:$bp-medium){
   display: flex;
   margin: 0;
  }
  @media only screen and (max-width:$bp-small){
    
    flex-direction: column;
     }
     @media only screen and (max-width:$bp-smallest){
    
      font-size: 1rem;
       }

  &__item{
   position: relative;
   &:not(:last-child){
     margin-bottom: .5rem;
     @media only screen and (max-width:$bp-medium){
    
      margin-bottom: 0;
     }
     
   }

   @media only screen and (max-width:$bp-medium){
    flex: 1;
    margin-bottom: 0;
   }
  }

  &__item:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    
    background-color: var(--color-primary);
    transform: scaleY(0);
   //transform-origin: top; without specify start in the middle
    transition: transform  .2s,
                width .4s ease-in-out .2s,
                background-color .1s;
                
  }

 &__item:hover::before,
 &__item-active:before{
   transform: scaleY(1);
   width: 100%;
 }
&__item:active::before{
  background-color: var(--color-primary-dark);
}

  &__link:link,
  &__link:visited{
   color: var(--color-grey-light-1);
   text-decoration: none;
   text-transform: uppercase;
   display: block;
   padding: 1.5rem 3rem;
   position: relative;
   z-index: 10;

   display: flex;
   align-items: center;

   @media only screen and (max-width:$bp-medium){
    
    justify-content: center;
   }
   
  }

  &__icon{
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }


}

//////
//LEGAL

.legal{
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width:$bp-medium){
    display: none;
   }
}

////////
//GALLERY

.gallery{
  display: flex;

  &__photo{
    width: 100%;
    display: block;
  }
}

/////
//OVERVIEW

.overview{
 display: flex;
 border-bottom: 1px solid var(--color-grey-light-2);
 align-items: center;
 @media only screen and (max-width:$bp-small){
  
  flex-direction: column;
   }

  &__heading{
   font-size: 2.25rem;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 1.5rem 3rem;
  }

  &__stars{
   margin-right: auto; //important trick
   display: flex;
   @media only screen and (max-width:$bp-small){
    
    margin-right: 0;
    margin-bottom: 1rem;
     }
  }

  &__icon-star,
  &__icon-location{
   width: 1.75rem;
   height: 1.75rem;
   fill: var(--color-primary);
  }

  &__location{
  font-size: 1.2rem;
  display: flex;
  vertical-align:center;
  @media only screen and (max-width:$bp-small){
    
    
    margin-bottom: 1rem;
     }
  }

  &__icon-location{
    margin-right: .5rem;
  }

  &__rating{
  background-color: var(--color-primary);
  margin-left: 3rem;
  color: #fff;
  align-items: stretch;
  padding: .9rem;
  @media only screen and (max-width:$bp-small){
    margin: 0;
    width: 100%;
     }
  }

  &__rating-avarage{
   font-size: 2.25rem;
   font-weight:300 ;
  text-align: center;
  }

  &__rating-count{
 font-size: .8rem;
 text-transform: uppercase;
 text-align: center;
  }
}

//// 
//BUTTON
.btn-inline{
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  background-color: transparent;
  border-bottom: 1px solid currentColor; 
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all .2s ;

 & span{
   margin-left: 3px;
  transition: all .5s;
 }
  &:hover{
    color: var(--color-grey-dark);

    span{
      margin-left: 8px;
    }
  }
  &:focus{
    outline: none;
    animation: pulsate 1s infinite;

  }
}

@keyframes pulsate{
  0%{
  transform: scale(1);
  box-shadow: none;
  }
  50%{
  transform: scale(1.05);
  box-shadow: 0 1rem 4rem rgba(0,0,0,.25 );
  }
  100%{
  transform: scale(1);
  box-shadow: none;
  }
}

////
//PARAGRAPH
.paragraph:not(:last-of-type){
  margin-bottom: 2rem;
}





/////
//LIST

.list{
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--b);
  border-bottom: var(--b);

  display: flex;
  flex-wrap: wrap;

&__item{
  flex: 0 0 50%;
  margin-bottom: .6rem;
  @media only screen and (max-width:$bp-smallest){
    
    font-size: 1.1rem;
     }
  
}
&__item::before{
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .7rem;

  //older broweser
  //background-image: url("../img/chevron-thin-right.svg");
 // background-size: cover;

  //newer browser-mask
  background-color: var(--color-primary-dark);
  -webkit-mask-image:url("../img/chevron-thin-right.svg");
  -webkit-mask-size: cover;
  mask-image: url("../img/chevron-thin-right.svg");
  mask-size: cover;
}
}
////
//RECCOMEND

.recommend{
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  

  &__count{
  margin-right: auto;
  }
  &__friends{
    display: flex;
  }

  &__photo{
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white;

    &:not(:last-child){
      margin-right: -2rem;
      @media only screen and (max-width:$bp-largest){
        margin-right: -2rem;
       }
    }
  }
}

///// 
//REVIEWS

.review{
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  &__text{
  position: relative;
  z-index: 10;
  }

  &__user{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  }

  &__photo{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   margin-right: 1.5rem;
  }

  &__user-box{
  
  margin-right: auto;
  }

  &__user-name{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .4rem;
  }

  &__user-date{
  font-size: 1rem;
  color: var (--color-grey-dark-1);
  }

  &__rating{
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
  }

  &::before{
    content: "\039e";
    position: absolute;
    top: -0.75rem;
    left: -1rem;
    font-size: 5rem;
    color: var(--color-grey-light-4);
    font-family: sans-serif;
    z-index: 1;
  }
}


///////////
//CALL TO ACTION

.cta{
  padding: 3.5rem 0;
  text-align: center;

  &__book-now{
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;

}
}

 .btn{
  border: none;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(to right ,var(--color-primary-light),var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
        
 &__visible{
    display: inline-block;
    padding: 2rem 7.5rem;
    height: 100%;
   width: 100%;
   transition: all -2s;
 }
    
 &__hidden{
  display: inline-block;
  position: absolute;  
  height: 100%;
  width: 100%;
  left: 0;
  top: -100%; 
  padding: 2rem 0;
  transition: all .1s;
  
 }
 &:hover{
  background-image: linear-gradient(to left ,var(--color-primary-light),var(--color-primary-dark));
 }

 &:hover &__visible{
    transform: translateY(100%);
   }

   &:hover &__hidden{
   top: 0;
   }

   &:focus{
     outline: none;
     animation: pulsate 1s infinite;
   }
 }
      