.container{
 max-width: 120rem;
 margin: 8rem auto;
 background-color: var(--color-grey-light-2) ;
 box-shadow: var(--shadow-dark);

 min-height: 50rem;

 @media only screen and (max-width:$bp-largest){
  margin: 0;
  max-width: 100%;
  width: 100%;
 }
}

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

 display: flex;
 justify-content: space-between;
 align-items: center;
 
 @media only screen and (max-width:$bp-smallest){
   flex-wrap: wrap;
   height: 10rem;
   }

}


.content{
 display: flex;
 @media only screen and (max-width:$bp-medium){
  flex-direction: column;
 }

}

.sidebar{
  background-color: var(--color-grey-dark-1);
  
  flex: 0 0 18%;
  //flex grow (element don't grow if there is space)0, flex-shirnk 0 (if the element are bigger than the container is gona fix the dimension , with 0 no), flex basis 18%//
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.hotel-view{
  background-color: rgb(255, 255, 255);
  flex: 1;//grow as much as it can, occupy the rimain space//
  
}

.detail{
  font-size: 1.4rem;
display: flex;
padding: 4.5rem;
background-color: var(--color-grey-light-1);
border-bottom: var(--border-bottom);


@media only screen and (max-width:$bp-medium){
    
  padding: 3rem;
 }
 @media only screen and (max-width:$bp-small){
    
 flex-direction: column;
 }
}

.description{

 background-color:#fff;
 box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
 padding: 3rem;
 flex: 0 0 60%;
 margin-right: 1.5rem;
 @media only screen and (max-width:$bp-medium){
    
  padding: 2rem;
 }
 @media only screen and (max-width:$bp-small){
    
 margin-right: 0;
 margin-bottom: 3.5rem;
  }
}

.user-reviews{
 
 flex: 1;
 text-align: center;
}